.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid;
  border-bottom-color: #0ca7a7;
  padding: 0 10px;
  background-color: rgba(240, 255, 255, 0.431372549);

  &_inner {
    display: flex;
    margin-right: 20px;
  }
}
